<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>现代经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_A</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>埃及经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_B</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>希腊经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_C</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>日本经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_D</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中国经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_E</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古代经济学体系简述</string>
		<key>icon</key>
		<string>user_sculpture_F</string>
		<key>content</key>
		<string>地球上自有人类活动以来，人类社会开始从原始社会，奴隶社会，封建社会，资本主义社会和社会主义社会一步步走来，各个王朝帝国的特性决定了其国家、民族的命运。权利的巨大价值和高度集中，以及所表现出来的单一的政治、军事，或者宗教的性质，使这个国家、民族的灭亡成为了不可逆转的可能。  今天，资本主义生产方式风靡全球，经济的全球化更促使了其在全球每个角落的推广，每个国家从而具有了一种特有的性质------经济性。国家、民族的经济性又将决定其什么样的命运？</string>
	</dict>
</array>
</plist>
